<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Serval</title>

</head>

<body>

<div id="app">

    <nav>
        <div class="nav-wrapper container">
            <a href="/" class="brand-logo left">SERVAL<sup><small>{{ .version }}</small></sup></a>
            <ul id="nav-mobile" class="right">
                <li><router-link to="/indexes">Indexes</router-link></li>
            </ul>
        </div>
    </nav>

    <div class="container">

    </div>

</div>

</body>
</html>
